

.navbar {
    margin-bottom: 0;
    background-color: #daa520;;
    z-index: 9999;
    border: 0;
    font-size: 15px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: sans-serif;
}

.navbar li a,
.navbar .navbar-brand {
    color: #fff !important;
}